.vscode
.idea
.ipynb_checkpoints
*.egg-info
*__pycache__/
hakai_profile_qc/__pycache__
*.nc
*.log
/**/__pycache__/*

/**/.DS_Store
/output/
hakai_profile_qc/__pycache__/**/*

*.pyc
get-credentials.ipynb
config.yaml

build
.env

review/get_depth_in_station_range_test.md
station_compare.md
local.env
